@model PimIV_Web.Models.ViewModels.HospedeViewModel

@{
    ViewBag.Title = "AcessarConta";
}
@Styles.Render("~/Content/css")

<div class="exibirDados">
    <h2>AcessarConta</h2>

    <span>@ViewBag.MensagemHospede</span>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hospede.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.DataNascimento.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hospede.Passaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospede.Passaporte)
        </dd>
        
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Conta.NomeUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conta.NomeUsuario)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Editar dados", "Edit") |
    @Html.ActionLink("Sair", "FazerLogoff")
</p>

<style>
    .exibirDados {
        margin-top: 12vh;
        margin-left: 185px;
    }
</style>