@using DAL;
@model Model.Reserva

@{
    ViewBag.Title = "Pesquisar Reservas";
    TipoCustoDAO tDAO = new TipoCustoDAO();
    List<string> tipos = tDAO.ListaTiposQuarto();
}
@Styles.Render("~/Content/css")
<link href="~/DesignPaginas/Style/Reservas.css" rel="stylesheet" />
<link href="~/DesignPaginas/Style/CardPesquisarReservas.css" rel="stylesheet" />
@if (Model != null)
{
    <section>
        <div class="lista-resultados">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            AQUI VEM O TIPO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="success">
                                        <th>
                                            Check-In
                                        </th>
                                        <th>
                                            Check-Out
                                        </th>
                                        <th>
                                            Nº Adultos
                                        </th>
                                        <th>
                                            Nº Crianças
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Model.CheckIn.ToShortDateString()
                                        </td>
                                        <td>
                                            @Model.CheckOut.ToShortDateString()
                                        </td>
                                        <td>
                                            @Model.Adultos
                                        </td>
                                        <td>
                                            @Model.Criancas
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td class="total_reservar">
                            <span>Total 70.00</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="total_reservar">
                            <a>Reservar</a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br />
            <h3>
                Você pode fazer uma nova busca por reservas
                clicando <a href="#Reservas">aqui</a>
            </h3>
        </div>
    </section>

}
<section id="Reservas">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <span class="mensagem_erro">@ViewBag.MensagemErro</span>
    <form method="post" action="@Url.Action("Index", "Reservas")" class="hotel_form up6">
        <h1 class="title"><i>Encontre um quarto</i></h1>

        <p class="destination">Selecione o tipo de quarto: </p>
        <select class="text_input w--whole up1" name="nAdultos" required>
            <option label="Adultos"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>


        <select class="text_input w--whole up1" name="nCriancas" required>
            <option label="Crianças"></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>


        <select class="text_input w--whole up1" name="tQuarto">
            <option label="Camas"></option>
            <option value="@tipos[0].ToString()">@tipos[0].ToString()</option>
            <option value="@tipos[1].ToString()">@tipos[1].ToString()</option>
            <option value="@tipos[2].ToString()">@tipos[2].ToString()</option>
            <option value="@tipos[3].ToString()">@tipos[3].ToString()</option>
            <option value="@tipos[4].ToString()">@tipos[4].ToString()</option>
        </select>

        <br>  <br> <br>  <br>
        <label class="label w--halves">Check in</label>
        <label class="label w--halves">Check out</label>

        <div class="calender w--halves up1">
            <select class="select month" name="monthIn" required>
                <option label="mês"></option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>

            <select class="select day" name="dayIn" required>
                <option label="dia"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>

            </select>
        </div>

        <div class="calender w--halves up1">
            <select class="select month" name="monthOut" required>
                <option label="mês"></option>
                <option value="1">Janeiro</option>
                <option value="2">Fevereiro</option>
                <option value="3">Março</option>
                <option value="4">Abril</option>
                <option value="5">Maio</option>
                <option value="6">Junho</option>
                <option value="7">Julho</option>
                <option value="8">Agosto</option>
                <option value="9">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>

            <select class="select day" name="dayOut" required>
                <option label="dia"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>

        </div>

        <input class="submit w--whole up1" type="submit" value="Pesquisar" />

    </form>
</section>